@charset "UTF-8";

body {
  color: #fff;
  padding: 0;
  margin: 0;
  line-height: 1.2;
  font-size: 12px;
  width: 100%;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

div.media {
  background: rgba(255, 255, 255, 0.99);
  border-radius: 0;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: left 0.3s;

  &.close {
    left: 100% !important;
  }
}

a.btn_edit {
  color: #fff;
  position: fixed;
  bottom: 0px;
  right: 0;
  display: block;
  height: 32px;
  z-index: 900;
  line-height: 32px;
  font-size: 14px;
  text-align: center;
  border-radius: 10px 0 0 0;
  color: #fff;
  background-color: #409EFF;
  cursor: pointer;
  padding: 0 15px 0 20px;

  &:focus,
  &:hover {
    color: #fff;
    background: #409EFF;
  }

  &.none {
    display: none;
  }
}

div.edit {
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  width: 100%;
  padding: 10px 0 0;
  transition: right 0.8s;
  position: absolute;
  z-index: 2;
  right: -500px;

  > a.closed {
    position: fixed;
    bottom: 0;
    right: -500px;
    line-height: 32px;
    padding: 0 15px 0 20px;
    background-color: #f56c6c;
    border-radius: 10px 0 0 0;
    z-index: 999;
    cursor: pointer;
    font-size: 14px;

    &:hover,
    &:focus {
      background-color: #f78989;
    }
  }

  &.open {
    right: 0;

    > a.closed {
      right: 0;
    }
  }
}

ul.box {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 10px;
  margin: 0 10px 10px;

  hr {
    border: none;
    outline: none;
    background: #999;
    height: 1px;
    width: 100%;
  }

  > li {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    line-height: 20px;

    > b {
      font-size: 16px;
      font-weight: bolder;
      line-height: 24px;
      margin-bottom: 10px;
    }

    > i {
      font-style: normal;
      font-size: 12px;
      color: #ccc;
      line-height: 32px;
      width: 100px;
      text-align: right;
      margin-right: 10px;
      display: block;
    }

    > input[type="text"],
    > input[type="password"] {
      border-radius: 3px;
      border: 1px solid #ddd;
      outline: none;
      background: #fff;
      width: 200px;
      line-height: 32px;
      padding: 0 10px;
    }

    > input[type="button"] {
      border-radius: 3px;
      line-height: 32px;
      padding: 0 10px;
      margin: 5px 5px 5px 0;
      border: none;
      outline: none;
      background-color: #409EFF;
      color: #fff;
      cursor: pointer;

      &:hover,
      &:focus {
        background-color: #66b1ff;
      }
    }

    > textarea {
      border-radius: 3px;
      border: 1px solid #ddd;
      outline: none;
      background: #fff;
    }

    > select {
      border-radius: 3px;
      line-height: 32px;
      padding: 0 10px;
      border: 1px solid #ddd;
      outline: none;
      width: 200px;
    }
  }
}

div.file {
  position: fixed;
  right: 0;
  left: 0;
  top: 380px;
  z-index: 1;
  border-top: 1px solid #ddd;
  padding: 10px;
  line-height: 28px;
  display: none;
  transition: left 0.3s;

  &.close {
    left: 100% !important;
  }

  &.hide {
    display: none;
  }

  > select {
    border-radius: 5px;
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: 10px;
    line-height: 32px;
    padding: 0 10px;

    > option {}
  }

  > input {
    width: calc(50% - 7px);
    padding: 0 10px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 0 0 10px;
  }

  > a {
    line-height: 32px;
    padding: 0 20px;
    border-radius: 5px;
    background-color: #409EFF;
    display: inline-block;
    cursor: pointer;
  }
}
