@charset "UTF-8";

/*
 * name: 'reset.scss';
 * author: 'NearSaint';
 * time: '2019.11';
 */

@import "_mixin";

html,
body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  line-height: 1.2;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: #f5f5f5;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-size: cover;
  background-attachment: fixed;
}

body.holding {
  position: fixed;
  overflow: hidden;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

img {
  width: auto;
  height: auto;
  border: none;
  outline: none;
}
button{
  font-size: inherit;
  cursor: pointer;
  -webkit-transition: all ease .2s;
  -moz-transition: all ease .2s;
  -o-transition: all ease .2s;
  transition: all ease .2s;
}
a {
  font-size: inherit;
  cursor: pointer;
  -webkit-transition: all ease .2s;
  -moz-transition: all ease .2s;
  -o-transition: all ease .2s;
  transition: all ease .2s;
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: none;
  outline: none;
}

a:focus {
  text-decoration: none;
  outline: none;
}

p {
  font-size: inherit;
  display: block;
  margin: 0;
  padding: 0;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  display: block;
  margin: 0;
  padding: 0;
  color: inherit;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clr,
.clear {
  clear: both !important;
}

.clr:after,
.clear:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0 !important;
  content: '.';
}

.hiden,
.hide,
.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible,
.unvisible {
  visibility: hidden !important;
  opacity: 0;
}

.affix,
.fixed,
.fix {
  position: fixed !important;
}

.float_left,
.floatLeft {
  float: left !important;
}

.float_right,
.floatRight {
  float: right !important;
}
